@import 'base/variables';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

a {
color: inherit;
text-decoration: none;
}

img {
max-width: 100%;
}

body {
min-width: 320px;
}

.title {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #0D0D0D;
    text-align: center;
    text-transform: uppercase;
}

@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/header';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/reviews';
@import 'blocks/swiper';
@import 'blocks/catalog';