.catalog {
    padding-bottom: 78px;
    &__tabs {
        padding-left: 0;
        margin-top: 70px;
        margin-bottom: 0;
        list-style-type: none;
        display: flex;
        gap: 10px;
    }
    &__tab {
        width: 220px;
        height: 50px;
        border: 2px solid #D0D0D0;
        color: #6B6B6B;
        text-align: center;
        font-size: 18px;
        line-height: 48px;
        text-transform: uppercase;
        transform: skewX(-25deg);
        cursor: pointer;
        transition: .5s all;
        div {
            transform: skewX(25deg);
        }
        &:hover {
            box-shadow: 3px 3px 20px #C70101;
            border: none;
        }
        &--active {
            border: none;
            background-color: #C70101;
            color: #FFF;
        }

    }
    &__content {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-item {
        width: 300px;
        min-height: 440px;
        border: 2px solid #E8E8E8;
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        margin-bottom: 20px;
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle {
            margin-top: 20px;
            color: #0D0D0D;
            text-align: center;
            font-size: 16px;
            font-weight: 700;
        }
        &__descr {
            margin-top: 15px;
            color: #0D0D0D;
            text-align: center;
            font-size: 14px;
            font-weight: 300;
        }
        &__link {
            display: block;
            margin-top: 10px;
            color: #C70101;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 14px;
            text-transform: uppercase;
            text-decoration-line: underline;
        }
        &__old-price {
            color: #555;
            font-size: 14px;
            font-weight: 300;
            line-height: 14px;
            text-decoration-line: line-through;
        }
        &__price {
            color: #050505;
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
        }
        &__btn {
            width: 135px;
            height: 44px;
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            background-color: #C70101;
            border: none;
            border-radius: 2px;
        }
        hr {
            border-bottom: none;
            background-color: #E8E8E8;
            margin-top: 19px;
            margin-bottom: 21px;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: .5s all;
            &--active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: .5s all;
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;
            &--active {
                transform: translateX(-100%);
                margin-left: 0px;
            }
            li {
                position: relative;
                color: #555;
                font-size: 14px;
                font-weight: 300;
                line-height: 21px;
                margin-bottom: 20px;
                &::before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -14px;
                    top: 7px;
                }
            }
        }
        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            display: block;
            color: $main-color;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 14px;
            text-transform: uppercase;
            text-decoration-line: underline;
            &:hover {
                color: $main-color;
            }
        }
    }
    
}


// .catalog__tab--active {
//     border: none;
//     background-color: #C70101;
//     color: #FFF;
// }