.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    input {
        padding: 5px 5px 5px 21px;
        width: 303px;
        height: 54px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 14px;
        line-height: 66px;
        color: #4B4B4B;
    }
    &__btn {
        width: 303px;
    }
}